.bg-hex {
	background-color: #772953;
}

.thead-hex {
	color: #fff;
	background-color: #772953;
}

.button-width {
	width: 200px;
}

.column-count-2 {
	column-count: 2 !important;
}

.left, .right {
	display: inline-block;
}

.frame {
	display: flex;
	justify-content: space-between;
}

.th-sticky_wrap {
	height: 500px;
	overflow-y: scroll;
}


/* 連番用CSS */
table {
	/* 'rowCount' という名前のカウンターを設定し、 0 で初期化する。 */
	counter-reset: rowCount;
}

table > tbody > tr {
	/* rowCount カウンターの値に1を加算 */
	counter-increment: rowCount;
}

table > tbody > tr > .table-counter:first-child::before {
	/* rowCount カウンターの値を表示 */
	content: counter(rowCount);
}

.guildimage {
	/* 横幅 */
	width:calc(25px * 1.618);
	/* 縦幅 */
	height:calc(25px * 1.618);
}

/* No Image */
.noimage {
	/* 横幅 */
	width:calc(25px * 1.618);
	/* 縦幅 */
	height:calc(25px * 1.618);
	line-height:calc(25px * 1.618);
	/* 枠線 */
	border:solid 1px rgb(199,199,199);
	/* 背景 */
	background-color:rgb(249,249,249);
	/* 文字 */
	color:rgb(99,99,99);
	font-size:5px;
	/* 角丸 */
	border-radius:4px;
	/* 外影 */
	box-shadow:0 0 2px 1px rgb(236,236,236);
	/*---以下はそのまま---*/
	display:inline-block;
	margin:0;
	padding:0;
	text-align:center;
	font-family:"Helvetica Neue","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	letter-spacing:0.04em;
}
.noimage::before{
	/*title内の文字を表示*/
	content:attr(title);
}
